.red:hover{
    color: #32b34cad;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.30);
 }
 .carousel-item{
    height:500px;
 }
 .perfil{
    background-color:hwb(162 72% 8% / 0.347);
 }
.col-sm-7 h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
 }